body {
    background-color: #6c2322;
    font-color:#faece0;
}
.btn-primary {
    background-color: #faece0;
    color: #000;
    border: none;
}
input, textarea, select {
    border: 1px solid #faece0;
    padding: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
